<%= form_for(premise) do |f| %>
  <% if premise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(premise.errors.count, "error") %> prohibited this premise from being saved:</h2>

      <ul>
        <% premise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
    <h5>Sources</h5>
    <%= f.collection_check_boxes(:source_ids, @sources, :id, :name) do |cb| %>
      <div class="checkbox">
        <%= cb.label do %>
          <%= cb.check_box + cb.text %>
          </div>
        <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
