<p id="notice"><%= notice %></p>

<h1>Premises</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @premises.each do |premise| %>
      <tr>
        <td><%= premise.name %></td>
        <td><%= link_to 'Show', premise %></td>
        <td><%= link_to 'Edit', edit_premise_path(premise) %></td>
        <td><%= link_to 'Destroy', premise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Premise', new_premise_path %>
