<p id="notice"><%= notice %></p>

<h2><%= @argument.name %></h2>

<%= react_component("argument_tree", {argument: @argument,
                                      tree: @argument.get_tree,
                                      authenticity_token: form_authenticity_token}) %>

<%= link_to 'Edit', edit_argument_path(@argument) %> |
<%= link_to 'Back', arguments_path %>
